.footer-container {
  background-color: #6e4e71;
  min-height: 100px;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px 10px;
}

.footer-text-block {
  text-align: center;

  & .footer-text {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.social-item {
  width: 40px;
  height: 40px;
}

.social-item-mail {
  width: 25px;
  height: 25px;
}