.container-myworks {
   display: flex;
}

aside {
   width: 200px;
   text-transform: uppercase;
   background-color: #6e4e71;
   margin-right: 10px;

}

.myworks-image-block {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   gap: 10px;
}

.myworks-aside-text {
   padding: 10px;
   background-color: #6e4e71;
   color: #FFFFFF;
   border: #FFFFFF solid;
   cursor: pointer;

   &:hover {
      background-color: #453248;
   }

}

.myworks-image-block-img img {

   width: 300px;
}