.container-myworks {
   display: flex;
}

aside {
   width: 200px;
   text-transform: uppercase;
   background-color: #6e4e71;
   margin-right: 10px;

}

.myworks-aside-text {
   width: 200px;
   padding: 10px;
   background-color: #6e4e71;
   color: #FFFFFF;
   border: #FFFFFF solid;
   cursor: pointer;

   &:hover {
      background-color: #453248;
   }

}

.myworks-aside-text-active {
   background-color: #453248;

}

.myworks-image-block {
   
}

.myworks-image-block-img {
   grid-template-columns: repeat(3, 320px);
   display: grid;
   grid-gap: 3px;
   align-items: center;

   & img {
      width: 320px;
   }
}

